@{
    Layout = "MainLayout";
}

@using Newtonsoft.Json;
@using System.Net.Http.Headers;
@using System.Text;
@using WebApplication4.ViewModels;
<div class="userAdd">
    <div class="newUserInfo">
        @model NewUserViewModel
        <form method="post" action="@Url.Action("AddUser", "Users")">
            <label>Login</label>
            <div>
                <input type="text" name="Login" required class="newUser" />
            </div>
            <label>Password</label>
            <div>
                <input type="password" class="newUser" name="Password" autocomplete="off" required />
            </div>
            <label>Confirm password</label>
            <div>
                <input type="password" name="ConfirmPassword" class="newUser" autocomplete="off" required />
            </div>
            @*<input type="hidden" name="json" value="@JsonConvert.SerializeObject(Model)" />*@
            <button class="addBtn" type="submit">Add user</button>
        </form>
        <p class="alertMessage">@ViewBag.Message</p>
    </div>
</div>
